<ion-view view-title="Cidade">
  <ion-content>
    
    <div class="list card">
      <div class="item item-divider">
        <p>A cidade de Greenmond</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-01.jpg">
        <p>
É uma cidade de porte médio do estado americano da Carolina do Sul. Sua economia é baseada na agricultura/pecuária e mais recentemente também tem se destacado na área de serviços (tecnologia). Grande fornecedora de derivados de gado bovino e suíno.
Fundada no início do século XVII (1607) a cidade teve importância na participação no estopim da guerra de civil americana, sendo um dos principais Quarteis generais dos estados confederados, estados que apoiavam a escravidão e que se separaram dos estados unidos quando o abolicionista Abraham Lincoln se elegeu presidente em 1860. Um ano depois, tropas da cidade foram enviadas junto a tropas do sul no ataque a tropas federais no Forte Sumter em Charleston (Carolina do Sul). Desencadeando a guerra civil americana.
De volta aos dias de hoje temos um cidade com boa economia e poucos problemas sociais.
        </p>

        <img class="full-image" src="./img/cidade/gm-02.jpg">
            <h3>Mortais Notáveis:</h3>
            <p>Prefeito: Morgan Banks (republicano)<br/>
Richard Jones - Executivo e representante da Corporação Sniper Technologies<br/>
Paul White - Fazendeiro e Presidente da Associação Agrícola de Greenmond</p>
<p>Malkavianos e gangrels são pouco vistos de uma maneira geral. Sem participação efetiva na estrutura da sociedade dos membros. Tendo como grande exceção a Margareth Carter (malk)</p>

      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <p>O Centro</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-03.jpg">
        <p>Mais moderno com seus setores de ciência e tecnologia são a área dos Brujah. Alguns Ventrue também se acomodam deste área.</p>
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Os Jardins</p>
      </div>

      <div class="item item-body">
          <img class="full-image" src="./img/cidade/gm-04.jpg">
          <p>São o centro cultural da cidade, com cinemas, teatros e uma galeria de arte. Esta área pertence aos Toreador.</p>
          <img class="full-image" src="./img/cidade/gm-05.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Universidades</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-06.jpg">
        <p>Os Tremere são mais vistos nas universidades, campus e cidades universitárias. Aparecem por aqui também um ou outro Brujah mais velho.</p>
        <img class="full-image" src="./img/cidade/gm-07.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Campos e fazendas</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-08.jpg">
        <p>A área rural, onde ficam as grandes fazendas e as indústrias alimentícias são áreascomandados pelos Ventrue. Sabe-se que gangrels também se aventuram por lá.</p>
        <img class="full-image" src="./img/cidade/gm-09.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>O Pântano</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-10.jpg">
        <p>O pântano é conhecido refúgio dos Nosferatu. Ficando no limite norte da cidade.</p>
        <img class="full-image" src="./img/cidade/gm-11.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Palácio das Águas</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-12.jpg">
        <p>O centro do poder</p>
        <img class="full-image" src="./img/cidade/gm-13.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>O Gran Cassino</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-14.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Sunset Garden</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-15.jpg">
        <img class="full-image" src="./img/cidade/gm-16.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>The Skull Pub</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-17.jpg">
        <img class="full-image" src="./img/cidade/gm-18.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>O Bairro Francês</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="./img/cidade/gm-19.jpg">
        <img class="full-image" src="./img/cidade/gm-20.jpg">
      </div>
    </div>    

    <div class="list card">
      <div class="item item-divider">
        <p>Holly Shelter Game Land</p>
      </div>

      <div class="item item-body">
        <p>O campo de caça</p>
        <img class="full-image" src="./img/cidade/gm-21.jpg">
      </div>
    </div>    


  </ion-content>
</ion-view>
