<ion-view view-title="Criação de PCs">
  <ion-content>

    <div class="list card">
      <div class="item item-divider">
        <p>City Lore</p>
      </div>

      <div class="item item-body">
        <p>O nível 2 de city lore permite aos personagens saberem que histórias antigas ainda refletem em conflitos e mágoas no presente. Sabem que os ventrue, que dominavam fazendas escravagistas no passado, e que viram o seu príncipe ser retirado do poder com o fim da guerra, não aceitam a presença desse príncipe que lhes foi imposto.</p>

<p>Sabem que o próprio Justicar Brujah veio garantir a “troca” de príncipe.</p>

<p>Tem noção de onde é seguro ir e onde não é. Mais ou menos como um morador do RJ sabe q não pode ir em determinadas regiões e tal.</p>

<p>Sabem que os abraços são liberados de tempos em tempos, e para poucos. Então tem-se o costume de nomear essas "temporadas de abraço". A última temporada foi a chamada “season 8”, e aconteceu há quase 70 anos. Acredita-se que por causa da “mortandade” de mortais devido a gripe de 1918, não tenha aberto ainda uma temporada de abraços.

Os personagens são “season 4”, por isso gozam de algum status (1 ponto de status)
</p>
      </div>
    </div>    












    <div class="list card">
      <div class="item item-divider">
        <p>Construção de personagens</p>
      </div>

      <div class="item item-body">
<p style="white-space:pre-wrap;">Pontuação Ancilla
Atributos: 8/6/4
Habilidades: 15/11/6 (habilidades secundárias tem o custo reduzido à metade, ou seja, um ponto compra duas bolinhas)
Vantagens:
Disciplinas: 7
Virtudes: 7
Antecedentes: 10
Humanidade: Consciência + Autocontrole
Força de Vontade: Coragem
Qualidades e Defeitos: máximo 7 pontos para defeitos, qualidade 8 pontos no máximo. Qualidades e defeitos devem ser aprovadas por mim 
Pontos de bônus: 55
Idade: entre 150 e 200 anos
Geração inicial: 13ª, podendo baixar até 8ª com o antecedente geração</p>
      </div>
    </div>    

  </ion-content>
</ion-view>
