<ion-view view-title="Feed">
  <ion-content>
      <div class="item item-text-wrap" ng-hide="user">
         <h3>Você precisa fazer o login para acessar o feed da história</h3>
      </div>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <form id="sendform" name="sendform" ng-submit="addFeed()" ng-show="user">

        <div class="list list-inset" style="padding-bottom: 15px;">
          <label class="item item-input">
            <textarea ng-model="formData.mensagem" placeholder="Comments"></textarea>
          </label>
          <button class=" item button button-block button-positive" type="submit">
            Enviar
          </button>

        </div>
      </form>
          
      <div class="list" ng-show="user">

          <div class="item item-avatar item-text-wrap" ng-repeat="feed in feeds | orderBy: '-data'">
            <img ng-src="{{feed.imagem}}">
            <h2>{{feed.nome}} <span style="float: right; font-size: 12px;">{{feed.data | date: 'dd/MM/yyyy HH:mm'}}</span></h2> 
            <p>{{feed.mensagem}}</p>
          </a>

      </div>
  

  </ion-content>
</ion-view>
