<ion-view view-title="Personagem">
  <ion-content>
    <div class="list card">
      
      <div class="item item-avatar">
        <img ng-src="{{personagem.claImage}}">
        <h2>{{personagem.nome}}</h2>
        <p>{{personagem.jogador}}</p>
      </div>
      
      <div class="item item-body">
        <h2>História</h2>
        <p style="white-space:pre-wrap;">{{personagem.historia}}</p>
        <p>
           <a href="#" class="subdued">1 Like</a>
           <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
  
    </div>

    <!--  <div class="row">
        <div class="col">
            <h1>{{personagem.nome}}</h1>
            <p style="white-space:pre-wrap;">{{personagem.historia}}</p>
        </div>
-->        
    </div>
  </ion-content>
</ion-view>
