<ion-view view-title="Planilha">
  <ion-content>

    <!-- <pre>user {{user}}</pre> -->
    <div class="list card" ng-show="user.id == '1'">
      <div class="item item-divider">
        <p>{{user.nome}}</p>
      </div>

      <div class="item item-body">
<p style="white-space:pre-wrap;">Nome: Jason Phillip Adams
Natureza: Esperto
Comportamento: Galante

Geração: 8ª
Senhor: Morreu. Sei de nada, vi nada.
Conceito: Dono de Clube Noturno e Ocultista de plantão.

ATRIBUTOS
- Físicos: Força 2, Destreza 2, Vigor 3.
- Sociais: Carisma 2, Manipulação 4, Aparência 3.
- Mentais: Percepção 3, Inteligência 4, Raciocínio 4.

HABILIDADES
- Talentos: Prontidão 4, Esquiva 1, Empatia 2, Intimidação 1, Manha 3, Lábia 5. (10pb)
- Perícias: Condução 3, Etiqueta 3, Armas de Fogo 1, Armas Brancas 1, Performance 1. (6pb)
- Conhecimentos: Acadêmicos 3, Finanças 2, Direito 1, Linguistica 2, Ocultismo 5, Política 1.

VANTAGENS
- Antecedentes: Geração 5, Recursos 5, Rebanho 4, Status 3, Fama 3, Influência 3, Lacaios 2. (15pb)
- Disciplinas: Taumaturgia 5 (Linha do Sangue 5, Movimento da Mente 3), Auspícios 1, Presença 1. (21pb)
- Virtudes: Consciência 2, Autocontrole 3, Coragem 5.

Humanidade 6 (1pb)

Força de Vontade 9 (4pb)

Qualidades
1 - Madrugador, Ingerir Comida, Fisionomia Amigável, Domínio de Elísio; 2 - Voz Encantadora, Clube Noturno.

Defeitos
1 - Compulsão (organização), Exclusão de Presas (mendigos), Intolerância (Brujah); 4 - Inimizade de Clã (Tzimisce).

Rituais

1 - Defesa do Refúgio Sagrado, Proteção contra o Mal da Madeira, Acionando o Receptáculo de Transferência, Pureza da Carne, Aparência Impressionante.

2 - Extinguir, Foco Principal da Infusão de Vitae, Poder de Cura da Terra Natal, Lentidão dos Aterrorizados.

3 - Dardo da Paz Eterna, Escudo da Presença Maligna, Mãos de Rutor.

4 - Atravessar Espelhos, Voz Engarrafada.

5 - Dominion.</p>
      </div>
    </div>    

    <div class="list card" ng-show="user.id == '2'">
      <div class="item item-divider">
        <p>{{user.nome}}</p>
      </div>

      <div class="item item-body">
        <p style="white-space:pre-wrap;">Atrib  For 3, Des 3, Vig 3              
         Per 2, Rac 3, Int 2                 
         Apa 3, Car 4, Man 4                                     

Hab Prontidão 1, Esportes 2, Briga  2, Empatia 3, Intimidação 3, Liderança 2, Lábia 2
    Condução 1, Etiqueta 1 , Armas de fogo 3, Armas brancas 2, Performance 4 (Blefar),      
            Cavalgar 4 (2ptb, Sec 2nvl x 2 = 4)
    Política 4(Barganhar), Jogar Poker 4(Baby Face, Sec 2pts = 4)

Disc   For 3, Pre 3, Aux 3 (14ptb), Rapidez 2 (14ptb)

Antced Geraçao 5, Recursos 5, Clan Prestige (5 ptb), Mentor (5 ptb),
    Contatos (4 ptb, Republicanos),
    Influência (4 ptb, Industria Belica e Pecuaristas),
    Aliados (5 ptb, Republicanos da Industria Belica),  
    Milícia (5 ptb, 100 soldados)        
    Rebanho (5 ptb, 1 Secretária, 2 Motoristas, 2 Guarda-Costas entre os 60)

Virt   Cons 2, Auto 3, Cor 5
Human  6 (2ptb)                              
FV  10 (5ptb)

Qualid 2 - Noção do Perigo
    2 - Voz Encantadora
    1 - Fisionomia Amigável
    1 - Líder Nato
    1 - Frieza Lógica

Def 1 - Amnésia (Nao lembra de nada antes da Guerra Civil)
    1 - Sono Pesado
    1 - Pesadelo (Guerra Civil)
    1 - Repulsa a Alho
    3 - Ferimento Permanente

--------------------------

Pontos de Bonus
2 Cavalgar
14 Auspicios
14 Rapidez
5 Clan Prestige
5 Mentor
4 Contatos
4 Influencia
5 Aliados
5 Rebanho
5 Milícia
2 Humanidade
5 FV
-----
70 (55+15)
</p>
      </div>
    </div>    

    <div class="list card" ng-show="user.id == '3'">
      <div class="item item-divider">
        <p>{{user.nome}}</p>
      </div>

      <div class="item item-body">
        <p style="white-space:pre-wrap;">Passar da planilha pdf pra texto simples.
        </p>
      </div>
    </div>    

    <div class="list card" ng-show="user.id == '4'">
      <div class="item item-divider">
        <p>{{user.nome}}</p>
      </div>

      <div class="item item-body">
        <p style="white-space:pre-wrap;">Em desenvolvimento
        </p>
      </div>
    </div>    



  </ion-content>
</ion-view>
